$blue: #0C1b53;
$lightBlue: #0CD4E1;
$moreLightBlue: #35EBF6;
$darkBlue: #0E7CAA;

body {
  background: $lightBlue;
  text-align:center;
  div {
   background: $blue;
   display: inline-block;
   width: 800px;
   padding-bottom: 10px;
  }
}
h1 {
  font-family: FANTASY;
  font-size: 50px;
  color:$moreLightBlue;
  margin: 15px 40px 15px;
  letter-spacing:1.5px;
  float: left;
  cursor: pointer;
}
#buttons {
  padding-top: 10px;
  float: right;
  display: flex;
  flex-direction:column;
  align-items:flex-end;
  li {
    list-style-type: none;
    background: $moreLightBlue;
    font-color: $blue;
    font-family: FANTASY;
    text-align: right;
    font-size: 0;
    margin: 2px 0;
    cursor: pointer;
    width:20px;
    height: 20px;
    transition: width 0.5s;
    &:hover {
      width:80px;
      animation-name: font;
      animation-delay: 0.4s;
      animation-duration: 1s;
      animation-iteration-count: infinite;
    }
    div {
      margin: 4px;
      float: left;
      width:13px;
      height:13px;
      border-radius:60px;
      border: 1px solid $blue;
      background:$darkBlue;
    }
  }
}
table {
  width: 100%;
  border: 1px;
  color: white;
  text-align:left;
  height: 70px;
  background: $darkBlue;
  text-align:center;
  #logo {
    width: 80px; 
    img {
      width: 50px;
      border-radius: 50px;
      border: 2px solid white;
    }
  }
  #name {
    width: 150px;
    font-size: 15px;
    a {
      color:white;
    }
  }
  #status {
    font-size: 15px;
    font-style: italic;
  }
}
.active {
  width:80px !important;
  animation-name: font;
  animation-delay: 0.4s;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}


@keyframes font {
    0%   {font-size: 15px;}
    100%   {font-size: 15px;}
}
